.cardContainer {
  width: 95%;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.5);
  transition: transform 0.2s ease-in-out;
}

.cardContainer:hover {
  transform: translateY(-8px);
}

.cardImage {
  height: 200px;
  min-width: 50px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.pName {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.cardInfo {
  display: flex;
  margin: 1px 0;
  font-weight: 400;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
}
